---
import CesfamCard from "./CesfamCard.astro";
import { cesfams } from "../data/cesfams";
import global from "../styles/global.css";
---

<section class="section-cesfam">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Nuestros CESFAM</h2>
            <p class="section-subtitle">
                Centros de Salud Familiar al servicio de la comunidad
            </p>
        </div>

        <div class="cesfam-grid">
            {cesfams.map((cesfam) => <CesfamCard {...cesfam} />)}
        </div>
    </div>
</section>
